################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DapperAuth/.vs/DapperAuth
/DapperAuth/DapperIdentity.Core/bin
/DapperAuth/DapperIdentity.Core/obj
/DapperAuth/DapperIdentity.Data/bin
/DapperAuth/DapperIdentity.Data/obj
/DapperAuth/DapperIdentity.Web/bin
